*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}


.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    height: 600px;
    width: 300px;
    margin:40px;
    background-color: rgb(202, 202, 202);
    box-shadow: 3px 4px 13px 0px rgba(0,0,0,0.75);
    border-radius: 10px;

    padding: 20px;
    padding-top: 50px;
}

.task{
    width: 100%;
    text-align: center;
    padding:5px;
    background-color: white;
    box-shadow: 3px 4px 13px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    margin-bottom: 15px;
}

.task:hover{
    cursor: grab;
}

.task.dragging{
    background-color: rgb(161, 161, 161);
}